services:
  hytale:
    build: .
    platform: linux/amd64
    environment:
      # F2P auth configuration (all endpoints derived from domain)
      HYTALE_AUTH_DOMAIN: "auth.sanasol.ws"
      HYTALE_SERVER_NAME: "DedicatedServer"
      # Server configuration
      HYFIXES_DISABLE_CHUNK_UNLOAD: "true"
      HYTALE_ACCEPT_EARLY_PLUGINS: "true"
      HYTALE_AUTH_MODE: "authenticated"
      HYTALE_AUTO_DOWNLOAD: "false"
      HYTALE_ENABLE_BACKUP: "false"
      HYTALE_BACKUP_DIR: "/backups"
      HYTALE_BACKUP_FREQUENCY_MINUTES: "60"

    ports:
      - "5520:5520/udp"
    volumes:
      - ./data:/data
      - ./backups:/backups
    tty: true
    stdin_open: true
    restart: unless-stopped
