apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

patches:
  - target:
      kind: StatefulSet
      name: hytale-server
    patch: |-
      - op: add
        path: /spec/template/spec/containers/0/env/-
        value:
          name: HYTALE_AUTO_DOWNLOAD
          value: "true"
